/*
Colors used:
Primary Color (Purple): #720B98;
Secondary Color (Mortar): #4E4351;
Highlight Color (TuTu): #FFEDFF
Base White (White): #FFFFFF
Base Black (Black): #000000
font-family: 'Montserrat', sans-serif;
*/
* {
  box-sizing: border-box;
}
main{
  padding-top: 15px;
}



header {
  text-align: unset;
  background-color: FFEDFF;
padding:7px 0;
position: relative;
}

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: #504252;
}
footer {
  text-align: center;
  padding: 12px 0;
  margin: 12px;
}
.border {
  border-top:1px solid rgba(125,0,158,.5);
width: 70%;
display: block;
  margin-left: auto;
  margin-right: auto;

}

.home {
  background-color: #ffffff;
  padding-bottom: 30px;
}
#hero{
  text-align: center;
  padding-bottom: 70px;
}
#hero span {
  display: block;
}

.center {
  text-align: center;
}
.container {
  text-align: left;
  padding: 15px;
  max-width: 1200px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
#work .row { padding-bottom: 25px;
   border-bottom: 1px solid rgba(125,0,158,.2);}



nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;


}
nav > ul > li > a {

  padding: 0 6px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #ffedff;
}
nav>ul>li>a:visited {
  color: #4E4351;
}
nav>ul>li>a:hover {
  color: #720B98;
}
nav>ul>li>a:active {
  color: #720B98;
}
nav {
  width: auto;
  float: right;
  margin-top: 4px;
}
#hero h3 {
  margin: 0;
  padding: 0.67em 0;
}
#hero {
  color: #FFEDFF;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}


h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.5em;
  font-weight: 600;
}

h2 {
  font-size: 2.00em;
  font-weight: 600;
}

h3 {
  font-size: 1.33em;
  font-weight: 400;
}
h4 {
  font-size: 1.2em;
  font-weight: 400;
}
#hero h2{
  color:#720B98;
}
#work h3{
  color: #720B98;
  font-size: 1.8em;
  font-weight: 500;
  border-bottom: 6px solid #4E4351;
  text-align: center;
  padding-bottom: 10px;
  width: 60%;
  display: block;
    margin-left: auto;
    margin-right: auto
}
#work h4{
  font-size: 1.5em;
}




img {
  width: 100%;
}
img.auto {
  width: auto;
}
#logo {
  width: 82px;
  height: 53px;
  padding: 0 15px;
}
a {
color: #720B98;
text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #720B98;
}
a:hover,
a:focus{
color: #9A50F4;
text-decoration: none; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #9A50F4;
}
.project_overview{
  border-bottom: 8px solid Blacktext-align: center;
  padding-bottom: 10px:
}

.button{display: inline-block; background-color: transparent;
  border: 1px solid #720B98;
  border-radius: 25px;
  padding: 10px 80px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;

}
.button:hover{background-color: #720B98; /* Green */
  color: white;}
.social{
  padding: 40px 0;
}
.button1{display: inline-block; background-color:#720B98 ;
  border: 1px solid #720B98;
  border-radius: 25px;
  padding: 10px 80px;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  transition-duration: 0.2s;
  transition-property: opacity;

}
.button1:hover{
  opacity: 0.9;
}
.social{
  padding: 40px 0;
}
#about h3{
  font-weight: 500;
  border-bottom: 4px solid #720B98;
  text-align: center;
  padding-bottom: 10px;
  width: 60%;
  display: block;
    margin-left: auto;
    margin-right: auto;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right
    margin-top: 4px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

.col-md-6 {
  width: 50%
}
